/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f1;
  color: #333;
}

/* Header */
header {
  background-color: #2c3e50;
  color: white;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navbar */
nav {
  margin-top: 10px;
}

nav a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 8px;
}

nav a:hover,
nav a.active {
  text-decoration: none;
}

/* Contenedor de equipos */
.team-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.team-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-top: 60px;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card h2 {
  margin: 0;
  font-size: 28px;
  color: #2c3e50;
}

.team-card p {
  font-size: 24px;
  color: #7f8c8d;
  margin-top: 50px;
}

.team-card .btn-delete {
  margin-top: 30px;
  padding: 8px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.team-card .btn-delete:hover {
  background-color: #c0392b;
}

/* Botón para agregar equipo */
.btn-add {
  background-color: #27ae60;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-left: 575px;
  margin-top: 60px;
}

.btn-add:hover {
  background-color: #2ecc71;
}

/* Botón de cerrar sesión */
#logout-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}

#logout-btn:hover {
  background-color: #c0392b;
}

/* Nuevo botón de editar */
.team-card .btn-edit {
  margin-top: 30px;
  padding: 8px 12px;
  background-color: #3498db;  /* Azul */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.team-card .btn-edit:hover {
  background-color: #2980b9; /* Azul más oscuro */
}

/* Ocultar elementos innecesarios */
#user-email, #logout-btn {
  display: none;
}
